<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
</head>
<body>
    <form method="post">
        <input type="hidden" value="@ViewBag.ReturnUrl" />
        <input type="text" name="userName" placeholder="username" value="" />
        <input type="password" name="password" placeholder="password" value="" />
        <input type="submit" value="Login" />
    </form>
</body>
</html>